.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: var(--radius-lg);
  background-color: var(--color-surface);
  box-shadow: var(--shadow-base);
}

.input {
  border: none;
  flex: 1;
  font-size: 16px;
  background: transparent;
}
