.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-surface);
  padding: var(--space-2);
  box-shadow: var(--shadow-base);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.actions {
  display: flex;
  gap: var(--space-1);
}
